* {
  margin: 0;
  padding: 0;    
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  background: transparent;
}
body {
  background-color: rgb(255, 255, 255);

  overflow-x: hidden;
}
main {
  position: relative;
  
  margin: 0 auto;
  margin-top: -50px;
  
  z-index: 4000;
}
footer {
  background-color: ivory;
  position: absolute;

  bottom: 0;
  width: 100%;

  text-align: center;

  margin-top: 10px;
  padding: 10px;
}
footer::after {
  content: "당근은 맛있다.";
}
#contents {
  flex: 1 0 auto;
  
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  
  margin: auto;
  margin-top: 70px;
}
#menuContents {
  background-color: rgb(255, 255, 255);
  height: 70px;
  width: 100%;

  position: absolute;

  top: 0;

  z-index: 1000;
}
#title {
  margin: 0 20px;

  height: 70px;

  font-weight:600;
  font-size: xx-large;
  color:black;

  float:left;
  font-family: honney, Helvetica, Arial, sans-serif;
}
.mainTitle::after {
  content: "Cocktail Tags";
}
.mainTitle {
  height: 70px;
  
  cursor: pointer;
  
  display: table-cell; 
  vertical-align: middle;
}
.subTitle::after {
  content: "Discover the world's \A top Cocktail \A tag search site";
  white-space: pre;
}
.subTitle {
  font-family: ELAND_Choice_M;
}
.signinBannerTitle {
  position: relative;
  top: 34px;
  left: 40px;
}
.signinBannerTitle > .mainTitle {
	font-size: 24pt;
}
.signinBannerTitle > .subTitle {
	line-height: 24pt;
	font-size: 18pt;
}
#sign {
  height: 100%;
  width: auto;
  
  margin: auto 10px;
  
  display: flex;
  justify-content: center;
  
  position: absolute;
  
  right:0;
}
#cocktailContents {
  flex: 1;
  
  background-color: rgb(255, 255, 255);
  
  width: 100%;
  
  position: relative;
  
}
#cocktailItemContents {
  margin: 0 auto;

  display: flex;
  
  position: relative;
  
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  
  box-sizing: border-box;

  height: 100%;
  width: 90%;
}
#favoriteTagContents {
  position: relative;
  
  margin-top: -50px;
  margin-bottom: 100px;
  
  max-width: 500px;
  width: 100%;
  
  height: auto;

  display: flex;
  align-items: center;
}
.favoriteTagsBox {
  animation: fadein 1s;
  
  margin: 10px auto;
  padding: 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#post-wrap {
  padding: 0 20px;
  padding-top: 15px;
  padding-bottom: 40px;
  margin: 0 auto;
  
  margin-top: 40px;
}
#postContents {
  position: relative;

  margin: 0 auto;

  box-shadow: 0px 10px 16px gray;

  max-height: auto;
  max-width: 1000px;
  height: 100%;
  width: 100%;
  
  padding-bottom: 40px;
}
#postTitleContents {
  margin: 3px;
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 26px;
  margin-right: 280px;

  padding: 5px;
  padding-top: 20px;

  position: relative;

  border-bottom: 2px solid black;

  height: 52px;
  width: 80%;
}
#postAdminBtnContents {
  position: absolute;
  left: 46%;
  top: 50px;
  display: flex;
  flex-direction: row;
  
  max-width: 400px;
  width: 100%;
}
@media screen and (max-width: 800px) {
	#postAdminBtnContents {
		flex-direction: column;
		line-height: 1.4em;
		top: 26px;
	}
}
#postTagContents {
  position: relative;
  
  font-family: Axilia;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  margin: 20px;
  padding: 0 20px;
}
#postTagContents::before {
  content: "tags: ";
  margin-right: 20px;
}
#cocktailMenuContents {
  background-color: #ffdb9e;
  height: 40px;
  width: 100%;

  margin: -5px;
  margin-top: 0px;

  position: absolute;

  box-shadow: 0px 1px 1px black;

  top: 0;
}
#cocktailImageContents {
  position: relative;

  border-radius: 8px;
  
  margin: 20px auto;
  padding: 0 20px;
}
.post-image-container {
  animation: fadein 1s;
  
  margin: 0 auto;
  
  max-width: 500px;
  max-height: 500px;
  
  width: 100%;
  height: 100%;
}
/*
@media (max-width: 800px) {
  #cocktailImageContents {
    position: relative;

    margin: 2% 5%;

    height: 35vh;
  }
}
*/
.explanation {
  margin: 0 5%;
}
#explanationContents {
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
  
  padding: 0 20px;
  
  font-family: ELAND_Choice_M;
  
  max-width: 800px;
  width: 80%;
}
#myPage-wrap {
  background-color: rgb(255, 255, 255);
  
  width: 100%;
  height: 100vh;
  
  margin: 0 auto;
  padding: 0;
  
  display: flex;
  flex-direction: column;
  
  overflow: auto;
}
#myPageContents {
  background-color: rgb(255, 255, 255);
  
  position: relative;

  box-shadow: 0px 0px 4px black;
  margin: 50px 0;

  height: auto;
  
  margin-left: 40px;
  max-width: calc(100% - 80px);
  width: calc(100% - 40px);
}
#myPageTitleContents {
  margin-top: 30px;
  margin-left: 20px;

  position: relative;

  height: 60px;
  width: 300px;
}
#myPageEditProfile, #myPageDeleteProfile {
  cursor: pointer;
}
.postAdminBtn {
  cursor: pointer;
  font-family: ELAND_Choice_M;
  
  margin: 0 20px;
}
.inner-profile-contanier {
  max-width: calc(100% - 40px);
  width: 100%;
  
  padding: 0 20px;
}
#myPageProfileContents  {
  margin-top: 30px;
	
  position: relative;
  
  overflow: visible;
  box-sizing: border-box;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  margin: 0 auto;
  
  max-width: 100%;
  width: 100%;
  
}
#myPageUserContents {
  margin-top: -30px;
  margin-left: 17px;
  
  overflow: visible;
  
  width: 180px;
  height: 110px;
  
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  
  text-align: center;
}
#myPageCocktailContents, #myPageTagContents {
  margin: 10px;
  
  position: relative;
  
  overflow: visible;
  
  border-radius: 10px;
  
  max-width: 400px;
  width: 100%;
  
  text-align: center;
}
#signin-wrap, #authentication-wrap {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  
  margin: auto;
  padding: 0;
  
  display: flex;
  
  overflow: hidden;
}
#signinBannerContents {
  max-width: 500px;
  min-width: 500px;

  background-color: rgb(209, 221, 229);

  height: 100%;

  display: flex;
  flex-direction: column;
}
.signin-banner-container {
  position: relative;
  width: 100%;
  height: auto;
	
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-banner-container > div {
  position: relative;
  top: 180px;
	
  max-width: 500px;
  min-width: 500px;
  width: 100%;
	
  height: auto;
}
.signin-banner-container > div > img {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-height: 620px) {
  #signinBannerContents {
    max-width: 450px;
    min-width: 450px;
  }
  .signin-banner-container > div {
    max-width: 450px;
    min-width: 450px;
  }
}
@media (max-height: 575px) {
  #signinBannerContents {
  	display: none;  
  }
}
@media (max-width: 1050px) {
  #signinBannerContents {
    max-width: 450px;
    min-width: 450px;
  }
  .signin-banner-container > div {
    max-width: 450px;
    min-width: 450px;
  }
}
@media (max-width: 960px) {
  #signinBannerContents {
    display: none;
  }
}
#signinContents, #AuthenticationContents {
  width: 100%;
  height: 100%;

  display: flex;

  justify-content: center;
  align-items: center;

  flex-direction: column;	
}
#searchContents {
  width: 100%;
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  z-index: 3000;
}
.search-results-details {
  text-align: center;
  margin: 0 auto;
	
  width: 100%;
  box-sizing: border-box;
  
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  position: relative;
  
  flex-direction: column;
  
  z-index: 1;
}
.search-input-container {
  padding: 0 20px;
  
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  
  position: relative;
  
  transform: translateY(-50%);
  
  z-index: 2;
}
.search {
  margin: 0 auto;
	
  background-color: white;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);

  width: 100%;
  height: 60px;
  
  z-index: 2;
}
.searchText {
  display: block;

  border-style: none;

  font-size: 20px;
  font-weight: 100;

  outline: none;

  max-width: 540px;
  width: 100%;
  height: 95%;
  margin: 0px 15px;
}
#searchHeaderContents {
  background-color: rgb(197, 210, 244);
	
  min-height: 200px;
  max-height: 360px;
  width: 100%;
  position: relative;
  padding-top: 12%;
  overflow: hidden;
}
#searchHeaderContents img{
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  
  display: block;
  margin: 0 auto;
	
  object-fit: contain;
	
  max-height: 100%;
  width: auto;
}
#searchTagsContents {
  max-width: 600px;
  width: 100%;
  
  height: auto;

  display: flex;
  align-items: center;

  margin-bottom: 50px;
}
.searchTagsBox {
  margin: 10px auto;
  padding: 0 auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#autocompleteTagsContents {
  max-width: 560px;
  width: 100%;
  height: auto;

  box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
  border-radius: 10px;

  margin: 0 auto;
  
  padding-top: 60px;
  margin-top: -90px;
  
  position: relative;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 255, 255);
  z-index: 1;
}
#autocompleteTagsContents:hover {
  display: flex;
}
.autocompleteTagsBox {
  display: block;
  width: 100%;
  margin: 15px 0;
}
.autocompleteTags {
  font-family: "ELAND_Choice_M";
  font-size: 12pt;
	
  padding: 8px 20px;
  font-size: 10pt;
}
.autocompleteTags:hover {
  background-color: rgb(180, 180, 180);
}
.favoriteTags {
  background-color: rgb(177, 190, 224);
  position: relative;
  
  display: block;
  
  padding: 8px 16px;
  margin: 0.6vh 0.8vh;
  
  font-family: today;
  font-size: 12pt;

  width: auto;
  
  cursor: pointer;
  
  border-radius: 6px;
  
  transition: background-color 0.6s;
}
.favoriteTags:hover {
  background-color: rgb(207, 220, 254);
}
.cocktailItems, .spaceCocktailItems {
  animation: fadein 1s;
  position: relative;
  border-radius: 8px;

  flex: 1 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  margin: 20px;

  cursor: pointer;
  
  max-height: auto;
  max-width: 100%;
  min-height: auto;
  min-width: 220px;
  
  box-sizing: inherit;
  
  z-index: 10;
}
.cocktailImages {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  	
  max-width: 100%;
  object-fit: cover;
  
  border-radius: 8px;
  
  z-index: 9;
}
.cocktailNotFound {
  display: none;
  margin: 20px auto;
  text-align: center;
  font-size: 20pt;
  font-weight: 800;
}
.itemTitle {
  position: absolute;
  width: 100%;
  height: 43px;
  color: whitesmoke;
  text-align: center;
  font-size: 15pt;
  font-family: scout, "나눔고딕";
  padding-top: 20px;
  padding-bottom: 8px;
  bottom: 0px;

  animation: fadein 1s;
  
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.6) 40%,
    rgba(0, 0, 0, 0)
  );
  
  z-index: 2000;
}
.itemTagsBox {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  animation: fadein 1s;
  
  flex-direction: column;
  right: 6px;
  top: 6px;
  
  z-index: 2000;
}
.itemTags {
  background-color: rgba(255, 255, 255, 0.8);
  
  position: relative;
  
  padding: 4px 16px;
  margin: 0.5vh 0.2vh;

  font-family: today, "나눔고딕";
  
  display: inline-block;

  width: auto;
  
  cursor: pointer;
  
  border-radius: 8px;
}
.itemTags:nth-child(n + 4) {
  display: none;
}

[desc]::after {
  transition: bottom .3s ease-in-out, opacity .3s ease-in-out;

  background-color: rgba(0, 0, 0, 0.8);

  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	
  border-radius: 5px;
	
  color: #FFFFFF;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 7px 12px;
  position: fixed;
  width: auto;
  min-width: 50px;
  max-width: 300px;
  word-wrap: break-word;

  z-index: 9999;

  opacity: 0;
  left: -9999px;
  top: 90%;
	
  content: attr(desc);
}

[desc]:hover::after {
  top: 0;
  left: 0;
  opacity: 1;
}
.searchTags {
  background-color: rgb(198, 234, 244);
  
  padding:8px 16px;
  margin: 0.5vh 0.4vh;

  display: block;

  font-family: today;
  font-size: 12pt;
  
  cursor: pointer;

  width: auto;

  border-radius: 6px;
  
  transition: background-color 0.6s;
}
.searchTags:hover {
  background-color: rgb(218, 254, 254);
}
.postTitle {
  padding: 10px;
  padding-left: 15px;

  font-size: 25pt;
  font-weight: border;
  font-family: BBTreeGB;

  height: auto;
  float:left;
}
.myPageTitle {

  font-size: 25pt;
  font-family: ELAND_Choice_M;
  font-weight: bolder;

  text-align: center;

  height: auto;
}
.tagBlock {
  background-color: rgb(198, 234, 244);
  
  color: black;
  text-decoration: none;
  
  padding:8px 16px;
  margin: 0.5vh 0.4vh;

  display: inline-block;

  font-family: today;
  font-size: 12pt;
  
  cursor: pointer;

  width: auto;

  border-radius: 6px;
}
.searchIcon {
  height: 60%;
  margin-left: 20px;
}
.cancelIcon {
  cursor: pointer;

  height: 45%;
  margin-right: 20px;
}
.sign_name {
  margin: auto 0;
  margin-left: 20px;
  margin-right: 20px;
  
  color: #001122;
  font-weight: border;
  font-family: today;
  font-size: 14pt;
  
  display: flex;
  align-items: center;
  
  border-radius: 8px;
}
@media (max-width: 884px) {
  .sign_name {
  	display: none;
  }
}
.sign_in, .sign_up, .sign_out, .myPageLink {
  padding: 7px 20px;
  margin: 0 5px;
  
  color: black;
  text-decoration: none;
  
  font-family: Axilia;
  font-size: 12pt;
  
  display: flex;
  align-items: center;
  
  cursor: pointer;
  
  border-radius: 8px;
}
.myPageSelectRemove {
  background-color: #F7F7F7;
  border-radius: 10px;
  border: 0.2px solid black;
  
  text-align: center;
  
  cursor: pointer;
  
  padding: 2px 0;
  
  margin: 20px auto;
  margin-bottom: -30px;
  margin-right: 55px;
  
  width: 120px;
}
.myPageSelectRemove::after {
	content: attr(data-content);
}
.myPageName {
  font-size: 20pt;
  font-weight: 500;
  font-family: BBTreeGB;
  
  color: #240011;
}
.myPageId{
  font-size: 12pt;
  font-family: Narrow, Narrow;
}
.myPageCocktails, .myPageTags {
  padding: 4px 8px;
  margin: 0.5vh 0.2vh;

  margin: auto;

  cursor: pointer;
  
  border-radius: 40px;
}
.myPageCocktails {
  background-color: rgba(153, 233, 240, 0.8);
}
.myPageTags {
  display: inline-block;
  background-color: rgba(153, 233, 167, 0.8);
}
.myPageCocktailTitle::after {
  content: "LOVE\A COCKTAIL";
  white-space:pre;
}
.myPageTagTitle::after {
  content: "LOVE\A TAG";
  white-space:pre;
}
.myPageCocktailTitle, .myPageTagTitle {
  border-radius: 100px;
  box-shadow: 0px 0px 4px 2px;
  
  margin: 0 auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  font-size: 14pt;
  
  width: 150px;
  height: 150px;
  
  transform: rotate(0deg);
  transition:
   height 300ms cubic-bezier(0.25, 0.1, 0.25, 1.0) 10ms,
   width 300ms cubic-bezier(0.25, 0.1, 0.25, 1.0) 10ms;
}
.myPageCocktailTitle:hover , .myPageTagTitle:hover {
  transform: rotate(360deg);
  height: 80px;
  width: 350px;
  
  transition: transform 800ms cubic-bezier(0.755, -0.480, 0.410, 1.515),
   height 300ms cubic-bezier(0.25, 0.1, 0.25, 1.0) 700ms,
   width 300ms cubic-bezier(0.25, 0.1, 0.25, 1.0) 700ms;
}
@keyframes rotate-show{
	
}
.myPageCocktails, .myPageTags {
  padding: 4px 8px;
  margin: 0.5vh 0.4vh;
}
#likeimg {
  position:absolute;
  right:25px;
  top: 13px;

  width :50px;
  height:50px;
}
.formBackground{
  margin:auto;
  margin-top: 80px;
  text-align: center;
}
.formBackground h1{
  margin-bottom: 50px;
}
form{
  width:200px;
}
#signinContents {
  margin: 0 20px;
}
.signin-signup-linked {
  position: absolute;
  
  font-size: 12pt;
  font-family: 'Haas Grot Text R Web';
  
  top: 20px;
  right: 20px;
}
.signin-signup-linked > a {
  text-decoration: none;
  color: rgb(211, 175, 185);
}
.signin-inner-container, .Authentication-inner-container {
  width: 100%;
  display: flex;
  
  padding: 30px 60px;
  
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
}
.signin-inner-container > #title {
  visibility: hidden;
  font-size: 24pt;
}
@media (max-width: 960px) {
  .signin-inner-container > #title {
    visibility: visible;
  }
}
@media (max-height: 575px) {
  .signin-inner-container > #title {
    visibility: visible;
  }
}
.signin-inner-container > form {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
}
.signinTitle, .AuthenticationTitle {
  max-width: 460px;
  width: 100%;
  
  margin: 60px 20px;
  
  text-align: left;
}
.signinTitle > h1 , .AuthenticationTitle > h1 {
  font-size: 21pt;
  font-family: today;
}
@media (max-height: 655px) {
  .signinTitle {
  	display: none;
  }
}
@media (max-height: 580px) {
  .signin-signup-linked {
  	visibility: hidden;
  }
}
@media (max-width: 600px) {
  .signin-signup-linked {
  	visibility: hidden;
  }
}
@media (max-height: 520px) {
  #signin-wrap {
    overflow: visible;
  }
}
.signin-input {
  max-width: 460px;
  width: 100%;
  
  height: auto;
}
.signin-input > span{
  font-family: BBTreeGB;
  font-weight: 300;
}
.signin-button-inner-container {
  max-width: 460px;
  width: 100%;
  
  text-align: left;
  
  height: auto;
}
.Authentication-button-inner-container {
  max-width: 520px;
  margin-left: 60px;
  width: 100%;
  
  text-align: left;
  
  height: auto;
}
.signin-button, .Authentication-button{
  margin-top: 30px;
	
  max-width: 220px;
  width: 100%;
  
  height: auto;
}
.inputBox {
  background-color: rgb(232, 245, 255);
  border-radius: 8px;
  height: 45px;
  width: 100%;
  
  margin: 10px 0;
  padding-left: 7px;
  
  outline: none;
  
  transition: all 0.2s;
}
.inputBox:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 4px rgba(209, 221, 229, 0.5);
}
.inputBox:focus {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 4px rgba(209, 221, 229, 0.5);
}
.submitBtn {
  height:43px;
  width: 100%;
  
  border:none;
  outline: none;
  
  border-radius: 8px;
  background-color: rgb(174, 184, 191);
  text-align: center;
  
  transition: all 0.1s;
}
.submitBtn:hover {
  background-color: rgb(144, 154, 171);
}
.submitBtn:focus {
  background-color: rgb(144, 154, 171);
}
#chooseEdit, #profile {
  margin:auto;
}
.chooseBtn {
  padding: 7px 30px;
  margin: 0 5px;
  background-color: #875A00;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 30px;
}
.selected {
  box-shadow: 2px 2px 2px 1px black inset;
}
.inline-block {
  display:inline-block;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@font-face { 
  font-family: honney;
  src: url(./font/honney.ttf);
}
@font-face { 
  font-family: scout;
  src: url(./font/scout.ttf);
}
@font-face { 
  font-family: today;
  src: url(./font/today.ttf);
}
@font-face { 
  font-family: 'Haas Grot Text R Web';
  src: url(./font/HaasGrotTextRWeb.ttf);
}
@font-face { 
  font-family: Axilia;
  src: url(./font/Axilia.otf);
}
@font-face {
    font-family: 'BBTreeGB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}