* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffebc1;

  overflow-x: hidden;
}
main {
	display: flex;
	flex: none;
}
footer {
  background-color: ivory;
  position: absolute;

  bottom: 0;
  width: 100%;

  text-align: center;

  margin-top: 10px;
  padding: 10px;
}
footer::after {
  content: "당근은 맛있다.";
}
#contents {
  background-color: #ffebc1;
  width: 100%;
  height: auto;

  position: relative;

  padding: 10% 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-direction: column;
}
#menuContents {
  background-color: #ffdb9e;
  height: 70px;
  width: 100%;

  position: fixed;

  box-shadow: 0px 0px 4px black;

  top: 0;

  z-index: 1000;
}
#title {
  margin:10px;

  font-weight:600;
  font-size: xx-large;
  color:black;

  float:left;
  
}
#sign {
  margin: 8px 10px;
  padding: 5px;
  
  display: flex;
  justify-content: center;
  
  position: absolute;
  
  right:0;
}
#cocktailContents {
  background-color: #ffdda8;
  padding: 5px;
  padding-top: 45px;
  display: flex;
  flex: none;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  position: relative;

  box-shadow: 0px 0px 4px black;
  
  clear: both;

  height: auto;
  width: 850px;
}
#cocktailItemContents {
  display: flex;
  flex: none;
  flex-wrap: wrap;
  align-content: flex-start;

  position: relative;
  
  clear: both;

  height: 100%;
  width: 100%;
}
#favoriteTagContents, 
#favoriteCocktailContents {
  position: relative;
  
  visibility: hidden;
	
  background-color: #ffdda8;
	
  height: auto;
  margin: 0 20px;
  margin-bottom: 40px;
	
  padding: 5px;
	
  box-shadow: 0px 0px 4px black;
	
  width: 200px;

  top: 40px;
}
#favoriteCocktailContents {
	visibility: hidden;
}
#postContents {
  background-color: #ffdda8;
  padding: 20px 5px;
  padding-top: 10px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;

  position: relative;

  box-shadow: 0px 0px 4px black;

  height: auto;
  width: 60%;
}
#postTitleContents {
  margin: 3px;
  margin-top: 0;

  position: relative;

  border-bottom: 1.2px solid black;

  height: auto;
  width: 80%;
}
#postTagContents {
  float: right;
  background-color: #ddfc00;

  padding: 0.5vh;

  border-radius: 10px;

  position: relative;

  width: 20%;
  height: 56vh;
}
#cocktailMenuContents {
  background-color: #ffdb9e;
  height: 40px;
  width: 100%;

  margin: -5px;
  margin-top: 0px;

  position: absolute;

  box-shadow: 0px 1px 1px black;

  top: 0;
}
#cocktailImageContents {
  position: relative;

  margin: 2% 5%;

  height: 55vh;
}
@media (max-width: 800px) {
  #cocktailImageContents {
    position: relative;

    margin: 2% 5%;

    height: 35vh;
  }
}
.explanation {
  margin: 0 5%;
}
#explanationContents {
  position: relative;
  width: 66%;

  margin: 2% 5%;
  margin-bottom: 4%;
}
#myPageContents {
  background-color: #ffdda8;
  padding: 20px 5px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  position: relative;

  box-shadow: 0px 0px 4px black;

  height: auto;
  width: 720px;
}
#myPageTitleContents {
  padding: 5px;
  margin: auto;
  margin-top: -10px;

  border-bottom: 1.2px solid black;
  
  position: relative;

  height: 60px;
  width: 300px;
}
#myPageEditProfile, #myPageDeleteProfile, .postAdminBtn{
  padding: 7px 30px;
  background-color: #875A00;
  color: white;
  text-decoration: none;
  margin:auto;
  margin-top:20px;
  border-radius: 8px;
  width:130px;
}
#myPageProfileContents {
  margin-top: 30px;
	
  position: relative;
  
  overflow: visible;
  
  display: flex;
  
  justify-content: center;
  
  width: 100%;
  
}
#myPageUserContents {
  background-color: #CCFFEC;
  
  border: 1px solid black;
  border-radius: 10px;
  
  overflow: visible;
  
  width: 180px;
  height: 110px;
  
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  
  text-align: center;
}
#myPageCocktailContents, #myPageTagContents {
  background-color: #CCFFEC;
  
  padding: 10px;
  
  overflow: visible;
  
  border: 1px solid black;
  border-radius: 10px;
  
  width: 200px;
  
  flex: none;	
  
  text-align: center;
}
#search {
  background-color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;

  border-radius: 20px;
  box-shadow: 0px 0px 4px black;

  min-width: 300px;
  width: 600px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 4px;
  padding: 0px 20px;
}
#searchContents {
  position: relative;
}
#searchText {
  display: block;

  border-style: none;

  font-size: 20px;
  font-weight: 100;

  outline: none;

  width: 540px;
  height: 95%;
  margin: 0px 15px;
}
#searchTagsContents {
  width: 600px;
  height: auto;

  margin: 0;
  margin-bottom: 50px;
}
#autocompleteTagsContents {
  width: 300px;
  height: auto;

  box-shadow: 0px 0px 1px gray;
  border-radius: 3px;

  padding: 15px 0;

  left: 56px;
  margin-top: -6px;
  position: absolute;

  z-index: 3000;

  display: none;

  background-color: rgb(255, 255, 255);
}
#autocompleteTagsContents:hover {
  display: block;
}
.autocompleteTags {
  padding: 8px 20px;
  font-size: 10pt;
}
.autocompleteTags:hover {
  background-color: rgb(180, 180, 180);
}
.favoriteTags {
  background-color: rgba(206, 0, 123, 0.8);
  
  position: relative;
  
  padding: 4px 8px;
  margin: 0.5vh 0.2vh;

  display: inline-block;

  width: auto;
  
  cursor: pointer;
  
  border-radius: 40px;
}
.favoriteTags:hover {
  background-color: rgba(168, 0, 101, 0.8);
}
.cocktailItems {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  margin: 5px;

  background-color: black;

  box-shadow: 0px 0px 0.2px 1px #262626;

  cursor: pointer;
  
  width: 160px;
  height: 160px;
  
  z-index: 10;
}
.cocktailImages {
  left: 0;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  
  z-index: 9;
}
.cocktailNotFound {
  display: none;
  margin: 20px auto;
  text-align: center;
  font-size: 20pt;
  font-weight: 800;
}
.itemTitle {
  position: absolute;
  width: 100%;
  height: 22px;
  color: whitesmoke;
  text-align: center;
  padding: 2px 0;
  bottom: 0px;

  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.3)
  );
  
  z-index: 2000;
}
.itemTagsBox {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  flex-direction: column;
  right: 0;
  bottom: 26px;
  
  z-index: 2000;
}
.itemTags {
  background-color: rgba(153, 233, 167, 0.8);
  
  position: relative;
  
  padding: 4px 8px;
  margin: 0.5vh 0.2vh;

  display: inline-block;

  width: auto;
  
  cursor: pointer;
  
  border-radius: 40px;
}
.itemTags:nth-child(n + 4) {
  display: none;
}

[desc]::after {
  transition: bottom .3s ease-in-out, opacity .3s ease-in-out;

  background-color: rgba(0, 0, 0, 0.8);

  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	
  border-radius: 5px;
	
  color: #FFFFFF;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 7px 12px;
  position: fixed;
  width: auto;
  min-width: 50px;
  max-width: 300px;
  word-wrap: break-word;

  z-index: 9999;

  opacity: 0;
  left: -9999px;
  top: 90%;
	
  content: attr(desc);
}

[desc]:hover::after {
  top: 0;
  left: 0;
  opacity: 1;
}
.searchTags {
  background-color: rgba(153, 233, 167, 0.8);
  
  padding: 4px 8px;
  margin: 0.5vh 0.4vh;

  display: inline-block;

  cursor: pointer;

  width: auto;

  border-radius: 40px;
}
.postTitle {
  padding: 10px;
  padding-left: 15px;

  font-size: 25pt;
  font-weight: border;
  font-family: 'Nanum Pen Script';

  height: auto;
  float:left;
}
#postTitleContents, .postAdminBtn{
  float:left;
  margin:15px;
}
.myPageTitle {
  padding: 10px;

  font-size: 25pt;
  font-weight: bolder;

  text-align: center;

  height: auto;
}
.tagBlock {
  background-color: rgba(153, 233, 167, 0.8);
  
  padding: 4px 8px;
  margin: 0.5vh 0.2vh;

  color: black;

  display: inline-block;

  width: auto;

  cursor: pointer;
  
  border-radius: 40px;
}
.searchIcon {
  height: 60%;
}
.cancelIcon {
  cursor: pointer;

  height: 45%;
}
.sign_name {
  padding: 7px 17px;
  margin-left: 20px;
  
  color: #001122;
  font-weight: border;
  
  display: flex;
  align-items: center;
  
  border: 1.2px solid #AD7300;
  
  background-color: #F9A600;
  border-radius: 8px;
}
.sign_in, .sign_up, .sign_out, .myPageLink {
  padding: 7px 30px;
  margin: 0 5px;
  
  background-color: #875A00;
  
  color: white;
  text-decoration: none;
  
  display: flex;
  align-items: center;
  
  cursor: pointer;
  
  border-radius: 8px;
}
.myPageSelectRemove {
  background-color: #F7F7F7;
  border-radius: 10px;
  border: 0.2px solid black;
  
  text-align: center;
  
  cursor: pointer;
  
  padding: 2px 0;
  
  margin: 20px auto;
  margin-bottom: -30px;
  margin-right: 55px;
  
  width: 120px;
}
.myPageSelectRemove::after {
	content: attr(data-content);
}
.myPageName {
  font-size: 20pt;
  font-weight: 500;
  font-family: 휴먼모음T, HY견고딕;
  
  color: #240011;
}
.myPageId{
  font-size: 12pt;
  font-family: Narrow, Narrow;
}
.myPageCocktails, .myPageTags {
  padding: 4px 8px;
  margin: 0.5vh 0.2vh;

  margin: auto;

  cursor: pointer;
  
  border-radius: 40px;
}
.myPageCocktails {
  background-color: rgba(153, 233, 240, 0.8);
}
.myPageTags {
  display: inline-block;
  background-color: rgba(153, 233, 167, 0.8);
}
.myPageCocktailTitle::after {
  content: "LOVE COCKTAIL";
}
.myPageTagTitle::after {
  content: "LOVE TAG";
}
.myPageCocktailTitle, .myPageTagTitle {
  border-bottom: 1px solid black;
}
.myPageCocktails, .myPageTags {
  padding: 4px 8px;
  margin: 0.5vh 0.4vh;
}
#likeimg {
  position:absolute;
  right:25px;
  top: 13px;

  width :50px;
  height:50px;
}
.formBackground{
  margin:auto;
  margin-top: 80px;
  text-align: center;
}
.formBackground h1{
  margin-bottom: 50px;
}
form{
  width:200px;
}
.inputBox {
    border: 2px solid #d9a44a;
    border-radius: 15px;
    height: 55px;
    width: 200px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    text-align: center;
    background-color: transparent;
    font-size: medium;
}
.submitBtn {
  height:65px;
  width:190px;
  border:none;
  border-radius: 15px;
  background-color: #d9a44a;
  font-size: large;
  font-weight: bold;
  text-align: center;
}
#chooseEdit, #profile {
  margin:auto;
}
.chooseBtn {
  padding: 7px 30px;
  margin: 0 5px;
  background-color: #875A00;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 30px;
}
<<<<<<< HEAD
.selected {
  box-shadow: 2px 2px 2px 1px black inset;
=======
.inline-block {
  display:inline-block;
>>>>>>> refs/remotes/origin/main
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
